:root {
  --primary-color: rgb(0, 123, 255); /* Vibrant blue */
  --secondary-color: rgb(40, 167, 69); /* Lush green */
  --accent-color: rgb(255, 193, 7); /* Warm yellow */
  --font-family: 'Arial', sans-serif;
  --button-font-size: 18px;
  --button-padding: 10px 20px;
  --button-border-radius: 5px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #f4f4f4; /* Light gray background for contrast */
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Merriweather', serif;
  color: #333; /* Darker color for better readability */
}

h1 {
  font-size: 2.5rem; /* Larger font size for header */
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--primary-color);
  color: white;
  padding: 2rem 1rem;
  z-index: 1000; /* Ensures it stays on top */
  background: transparent; /* or any initial background */
  background-color: var(--primary-color);

  transition: opacity 0.3s ease; /* Smooth transition for opacity changes */
}

.header-logo.dark-logo {
    display: none; /* Hide dark logo initially */
}

header.scrolled {
    background-color: white; /* This should apply to the entire header */
    width: 100%; /* Ensure the header spans the entire width */
}

header.scrolled nav {
  background-color: white; /* This should apply to the entire header */
  width: 100%; /* Ensure the header spans the entire width */
}

header.scrolled .header-logo.light-logo {
    display: none; /* Hide light logo when scrolled */
}

header.scrolled .header-logo.dark-logo {
    display: block; /* Show dark logo when scrolled */
    background-color: white; /* White background when scrolled */

}

.header-logo {
  width: auto; /* A moderate width */
  height: 2.0rem; /* Maintain aspect ratio */
  opacity: 1; /* Adjust for desired transparency */
  position: fixed; /* Fixed position on the page */
  top: .6rem; /* Slightly more space from the top */
  left: 15px; /* Slightly more space from the left */
  z-index: 1000; /* Ensures the logo stays on top of other elements */
  
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #003366; /* Dark blue color for the background */
  border: none;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.nav-links li a {
  text-decoration: none;
  color: white !important;
}

.hamburger-menu {
  display: none;
  cursor: pointer;
}

.hamburger-menu .bar {
  width: 25px;
  height: 3px;
  background-color: rgb(68, 147, 52);
  margin: 5px 0;
  transition: 0.4s;
}

.hero {
  background: #f9fafb;
  background-color: #003366; /* Dark blue color */
  padding: 2rem;
  text-align: center;
}

.hero h1 {
  margin-bottom: 0.5rem;
  color: white; /* or a light color for better visibility */


}

.hero p {
  margin-bottom: 1rem;
  color:white
}

button {
  background-color: #ff6f61; /* Gumroad's signature button color */
  color: white;
  padding: 12px 25px;
  font-size: 16px;
  border: none;
  border-radius: 5px; /* Slightly rounded corners */
  transition: background-color 0.2s, box-shadow 0.2s;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase; /* Optional: For uppercase text */
  letter-spacing: 1px; /* Optional: For more spaced lettering */
}

button:hover, button:focus {
  background-color: #e85b50; /* Slightly darker shade on hover/focus */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
}

button:active {
  background-color: #cc5040; /* Even darker for active/clicked state */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); /* Less pronounced shadow */
}

button:disabled {
  background-color: #cccccc; /* Muted color for disabled state */
  color: #666666;
  cursor: not-allowed;
  box-shadow: none;
}



.testimonials {
  background: #edf2f7;
  padding: 2rem;
  text-align: center;
}

html, body {
  height: 100%;
  margin: 0;
}

.main-content {
  min-height: 100%;
  /* Equal to footer height */
  padding-bottom: 50px; /* Adjust based on the footer height */
  box-sizing: border-box;
}


footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px; /* Adjust based on the footer height */
  background: var(--primary-color);
  color: white;
  text-align: center;
  padding: 1rem;
}

.ticker {
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
}

.ticker-item {
  display: inline-block;
  padding-right: 25px; /* Space between items */
  font-size: 16px; /* Adjust size as needed */
  /* Additional styling as needed */
}

.ticker-item img {
  height: 95px; /* Adjust image size as needed */
  width: auto;
}

@keyframes tickerMove {
  0% {
      transform: translateX(100%);
  }
  100% {
      transform: translateX(-100%);
  }
}

.ticker {
  animation: tickerMove 20s linear infinite; /* Adjust the duration for speed */
}


/* Non-Mobile Styles (Base Styles)*/

.features {
  display: flex;
  justify-content: space-around;
  padding: 4rem;
  gap: 1rem;
}

.feature {
  max-width: 30%;
  background: linear-gradient(to bottom, #9ec6db, #9e93d6); /* Slight gradient from white to light gray */
  padding: 1rem 1rem 1rem 1rem; /* More padding at the top, slight padding on other sides */
  overflow: hidden; /* Ensures the image does not overflow the container */
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border: 0px solid #878787; /* Mild border */
  border-radius: 15px;
  margin-bottom: 1rem;
}

.keyfeatures {
  display: flex;
  justify-content: space-around;
  padding: 4rem;
  gap: 1rem;
}

.keyfeature {
  max-width: 30%;
  background: linear-gradient(to bottom, #dbb59e, #ccd693); /* Slight gradient from white to light gray */
  padding: 1rem 1rem 1rem 1rem; /* More padding at the top, slight padding on other sides */
  overflow: hidden; /* Ensures the image does not overflow the container */
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border: 0px solid #878787; /* Mild border */
  border-radius: 15px;
  margin-bottom: 1rem;
}

.feature-image {
  max-width: 100%;
  height: auto;
  display: block;
  width: calc(100% + 2rem); /* Adjust width to cover the side padding */
  margin-top: 1rem; /* Negative margin to pull the image to the top edge */
  margin-left: 0rem; /* Negative margin to offset the side padding */
  margin-right: 0rem; /* Negative margin to offset the side padding */
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: white;
  padding: 0 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar .logo {
  display: flex;
  align-items: center;
}

.header-logo {
  height: 40px; /* Adjust size as needed */
}

.nav-links {
  list-style: none;
  display: flex; /* Initially hidden */
  margin: 0;
  padding: 0;
}

.nav-links a {
  text-decoration: none;
  color: #white;
  font-weight: 600; /* Adjust weight as needed */
}

.nav-links a:hover {
  color: #5c6ac4; /* Adjust hover color as needed */
}

.cta-buttons {
  display: flex;
}

.cta-button {
  padding: 10px 20px; /* Increased horizontal padding */
  background-color: rgb(55, 117, 68); /* Primary button color */
  color: white;
  border: none;
  border-radius: 20px; /* High border-radius for pill shape */
  cursor: pointer;
  text-transform: uppercase; /* Optional: for uppercase text */
  font-weight: bold; /* Optional: for bold text */
  margin-left: 10px;
  transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.cta-button.demo {
  background-color: transparent;
  background-color: #3e3e3e; /* Primary button color */
  color: white;  
  border: 2px solid #ffffff;
}

.hamburger-menu {
  display: none;
}

.cta-link {
  background-color: #5c6ac4; /* Adjust CTA button color */
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  text-transform: uppercase;
}

.no-wrap {
  white-space: nowrap;
}

  .hamburger-menu {
    display: block;
  }
.hamburger-menu {
  display: block; /* Show hamburger menu for mobile */
}

/* Desktop Styles */
@media screen and (min-width: 768px) {
  .nav-links {
    display: flex; /* Show full navigation on desktop */
  }

  .nav-links li {
    margin-left: 1rem;
  }

  .hamburger-menu {
    display: none; /* Hide hamburger menu on desktop */
  }
}



/* Responsive Styles */
@media screen and (max-width: 768px) {
  .nav-links,
  .cta-buttons {
    position: absolute;
    right: 0;
    top: 60px;
    background-color: #fff;
    width: 100%;
    display: none;
    flex-direction: column;
    text-align: center;
  }

  

  .nav-links li {
    margin: 15px 0;
  }

  .nav-links.active {
    display: flex;
  }


  .header-logo {
    width: auto; /* Smaller width for mobile devices */
    height: 2rem;
    top: .8rem;
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Adjust for exact centering */
  }

  .hamburger-menu {
    display: block;
  }

  .features {
    flex-direction: column;
    align-items: center;
    padding: 1rem 0; /* Adjust padding for mobile view */
  }

  .feature {
    width: 90%; /* Full width for mobile screens */
    max-width: 95%; /* Ensures that max-width is not restricting the width */
  }

  .keyfeatures {
    flex-direction: column;
    align-items: center;
    padding: 1rem 0; /* Adjust padding for mobile view */
  }

  .keyfeature {
    width: 90%; /* Full width for mobile screens */
    max-width: 95%; /* Ensures that max-width is not restricting the width */
  }

}

.bottom-logo-container {
  position: fixed;
  left: 0;
  right: 0; /* Stretch across the full width */
  bottom: 0;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 4rem; /* Match the height of the opacity bar */
  z-index: 1001;
}

.bottom-logo {
  width: auto; /* Set the width of the logo */
  height: 3.5rem; /* Maintain aspect ratio */
  opacity: 1; /* Adjust for desired transparency */
}

.opacity-bar {
  position: fixed; /* Fixed position */
  left: 0;
  bottom: 0;
  width: 100%; /* Full width of the viewport */
  height: 4rem; /* Height of the bar */
  background-color: rgb(228, 228, 228);
  opacity: 0.7; /* 40% opacity */
  z-index: 1000; /* Place it just below the logo */
}

/* Pricing */

.pricing {
  text-align: center;
  padding: 2rem;
}

.pricing table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.pricing th, .pricing td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.pricing th {
  background-color: var(--primary-color);
  color: white;
  border-radius: 15px 15px 0 0;
}

.pricing td {
  background: linear-gradient(to right, #ffffff, #f1f1f1);
}

.pricing tr:nth-child(even) {
  background: linear-gradient(to right, #f9f9f9, #f1f1f1);
}

.pricing tr:hover {
  background-color: #f2f2f2;
}

.check-mark {
  color: green;
}

.cross-mark {
  color: red;
}

/* Feature cards */

.feature-section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.feature-section h2 {
  color: #000000;
  margin-bottom: 1rem;
}

.feature-section p {
  color: #222222;
  margin-bottom: 2rem;
}

.feature-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
}

.feature-card {
  background: linear-gradient(to right, #a3b8e8 0%, #a1c7b1 100%);
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  width: calc(33.333% - 1rem); /* Adjust the width for 3 cards per row */
  margin-bottom: 2rem;
  transition: transform 0.3s ease;
  
}
.feature-card:hover {
  transform: translateY(-5px);
}


.feature-card img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.feature-card h3 {
  color: var(--primary-color);
}

.feature-card p {
  color: #666;
}

/* ... your other CSS ... */

.feature-carousel {
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

.feature-cards-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

@media screen and (max-width: 768px) {
  .feature-cards {
    flex-direction: column;
    flex: 0 0 auto; /* Do not grow or shrink */
    width: 100%; /* Full width on smaller screens */
  }

  .feature-card {
    scroll-snap-align: start;
    flex: 0 0 auto; /* Do not grow or shrink */
    width: 100%; /* Full width on smaller screens */  }
}



/* Top Banner */

.top-banner {
  background: linear-gradient(45deg, #007bff, #5c6ac4, #9ec6db); /* Replace with your chosen colors */
  color: #fff;
  padding: 15px;
  position: fixed; /* Fixed at the top */
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional shadow */
  z-index: 1001; /* Ensure it stays on top */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dismiss-banner {
  background: none;
  border: none;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  margin-left: 20px; /* Space from content */
}

.banner-content {
  display: flex;
  align-items: center;
  width: calc(100% - 40px); /* Adjust based on total horizontal padding */
  justify-content: space-between;
}

.banner-image {
  width: 50px; /* Adjust size as needed */
  height: auto;
  margin-right: 20px;
}

.action-button {
  background-color: #007bff; /* Customize color */
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px; /* Rounded corners */
}

@media (max-width: 600px) {
  .top-banner {
      flex-direction: none;
      align-items: start;
      padding: 15px;
  }

  .banner-content {
      width: 100%;
      justify-content: space-between;
      margin-bottom: 10px;
  }

  .dismiss-banner {
      align-self: flex-end;
  }
}


/* for Questionnaire */
body {
  font-family: Arial, sans-serif;
  padding-top: 12rem; /* Adjust this value based on the actual height of your header */
}

header, section {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ddd;
}

.question {
  margin-bottom: 10px;
}

.feedback {
  display: block;
  margin-top: 5px;
}

.correct {
  color: green;
}

.incorrect {
  color: red;
}

.score {
  position: fixed;
  right: 20px;
  bottom: 60px; /* Adjust so it's above the footer */
  font-size: 20px; /* Larger font size */
  background-color: #f8f8f8; /* Background color for visibility */
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

button:disabled {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}

#valid-code-message {
  color: green;
  font-size: 30px;
  display: none; /* Initially hidden */
}

#valid-code-message, #invalid-code-message {
  font-size: 1.4rem; /* Larger font size for messages */
}

.nav-links li a {
  {
  background-color: darken(var(--secondary-color), 10%);
}

#thank-you-section {
  text-align: center;
  padding: 20px;
  /* Add more styles as needed */
}



/* Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 80%;
  max-width: 1200px; /* Could be more or less, depends on screen size */
}

/* Close button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Responsive iFrame */
iframe {
  width: 100%;
  height: 100%;
}
